@import "tailwindcss";
body{
    background-color: rgb(255, 252, 249);
}

.Nav-Container{
    /* box-shadow: 0 1px 60px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) */
    object-fit: contain;
    
}
.SignUp:hover{
    color: #77B254;
    text-decoration: underline;
   
}
.Login:hover{
    
    background-color: #76b254b7;
    transition: 0.1s ease-in-out;

}